.kpi-image
{
height: 100px;
width: 100px;
align-self: center;
margin-top: 13px;
}

.kpi-text
{
    text-align: center;
    font-weight: 600;
    font-size: x-large;
}

.card-header{
    font-weight: 500;
}