.kpi-image
{
height: 100px;
width: 100px;
align-self: center;
margin-top: 13px;

}

.card{
    box-shadow: 10px 10px 30px #9fa4a7, 
                -10px -10px 30px #9fa4a7;
                border-radius: 25px;
}

.kpi-text
{
    text-align: center;
    font-weight: 600;
    font-size: x-large;
}

.card-header{
    font-weight: 500;
}