.header-container {
    
   
    background-color: $background-color;
    text-align: center;
   
    .card-deck{
        justify-content: space-evenly;
        padding: 20px;
       
        .card-deck .card {
    /* flex: 1 0; */
    height: 19vh;
    width: 19vw;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
        }
        
    }
}
