.header-container {
    
   
    background-color: $background-color;
    text-align: center;
   overflow: scroll;
    .card-deck{
        justify-content: space-evenly;
        padding: 20px;
       
        .card-deck .card {
    /* flex: 1 0; */
    height: 19vh;
    width: 19vw;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
        }
        
    }
    .dropdown-header-container {
        height: 80px;
        box-shadow: 8px 8px 18px #252525, -12px -12px 18px #3b3b3b;
        display: grid;
        grid-template-columns: 50% 50%;
        .map-demo-dropdown {
            display: flex;
            align-items: center;
            padding-left: 10%;
            border-right: 2px solid;
        }
        .state-dropdown{
            display: flex;
            align-items: center;
            padding-left: 10%;
            border-left: 2px solid;
        }
        
    }
    .map-chart-state-container {
        height: calc(100vh - 350px);
        display: grid;
        grid-template-columns: 50% 50%;
        .map-chart-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            border-right: 2px solid;
           // box-shadow:inset -15px 0 18px 0px #252525;
            .india-map{
                box-shadow: 8px 8px 18px #252525, -12px -12px 18px #3b3b3b;
                height: 90%;
                border-radius: 16px;
                svg{
                    height: 100%;
                }
            }
        }
    }
}
